@model SimpleWeb.Models.MainViewModel

@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;

<div class="jumbotron">
    <h2>People</h2>
    <p class="lead">Simple MVC application</p>
</div>
<div class="row">
    @Html.Label("Race")
    @Html.DropDownListFor(m => m.Race, Model.Races, "--Select--", new { @class = "form-control", onchange = "selectedRaceChanged(this);" })

    <table class="table">
        <tr>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Age")</th>
            <th>@Html.DisplayName("Height")</th>
        </tr>

        @if (Model.OnePageOfPeople.Count() == 0)
        {
            <tr>
                <td align="center" colspan="3">Nothing to display</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.OnePageOfPeople)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@SimpleWeb.Data.PersonExtensions.Height(item)</td>
                </tr>
            }
        }
    </table>

    @Html.PagedListPager((IPagedList)Model.OnePageOfPeople, page => Url.Action("Index", new { Model.Race, page }))
</div>

<script type="text/javascript">
    function selectedRaceChanged(source) {
        var selectedValue = source.value;
        window.location.href = "/Home/Index?race=" + selectedValue +"&page=1";
    }
</script>
